---
import PageLayout from "@/layouts/Base";

const meta = {
	title: "Not Found",
};
---

<PageLayout meta={meta} withNav={false}>
	<h1 class="mb-6 title">404 | Page Not Found</h1>
	<p class="mb-8">Please use the navigation to find your way back.</p>
</PageLayout>
