---
import PageLayout from "@/layouts/Base";
import Intro from "@/components/home/Intro";
import Articles from "@/components/home/Articles";
import Repositories from "@/components/home/Repositories";
import About from "@/components/home/About";

const meta = {
	title: "Home",
};
---

<PageLayout meta={meta}>
	<section>
		<Intro />
	</section>
	<section aria-label="Articles" class="mt-16">
		<h2 class="mb-4 text-xl title" id="articles">Articles</h2>
		<Articles />
	</section>
	<section aria-label="Code" class="mt-16">
		<h2 class="mb-4 text-xl title" id="code">Code</h2>
		<Repositories />
	</section>
	<section aria-label="About" class="mt-16">
		<h2 class="mb-4 text-xl title" id="about">About</h2>
		<About />
	</section>
</PageLayout>
