<p class="mb-5">
	I spent the majority of my professional career working for FPT Software, the
	largest software company in Vietnam and a global leader in software
	outsourcing. My tenure there provided me with a wealth of experience in
	building software systems, managing teams, bidding on projects, and dealing
	with clients. However, I felt constrained by the lack of opportunities to work
	with the latest technologies and achieve technical excellence. I made the
	decision to leave FPT Software in May 2018 to pursue more fulfilling
	opportunities. Since then, I've been working independently, primarily
	utilizing React and Next.js for frontend development and Node.js for backend
	development. I have also made sure to stay current on the latest advancements
	in web development, including meta-frameworks like Remix and Astro, emerging
	frameworks like SolidJS and Qwik, and new runtimes like Cloudflare Workers.
</p>
<p class="mb-5">
	Here is my <a href="Resume_Phong-Nguyen.pdf" class="cactus-link">resume</a>.
	You can reach me on <a
		href="https://linkedin.com/in/phongnn"
		class="cactus-link"
		target="_blank"
		rel="noopener noreferrer"
		>LinkedIn
	</a> or by <a class="cactus-link" href="mailto:phongnn@gmail.com">email</a>.
</p>
