<p class="mb-5">
	For most of my career, I worked for <a
		href="https://www.fpt-software.com/about-fpt-software/"
		target="_blank"
		rel="noopener noreferrer"
		class="cactus-link"
		>FPT Software
	</a>, the biggest software company in Vietnam, and a global leader in software
	outsourcing. I learned a lot, from writing code and designing systems to
	managing teams, bidding for projects, and working with clients. I was unhappy,
	though. I wanted to work on the latest technologies and pursue technical
	excellence but that rarely happens with outsourced projects. So I left in
	2018. Since then, I've built things using React and Next.js on the frontend,
	and Node.js on the backend. For the future, I'd love to use new frameworks
	like Remix, Astro, Qwik, SvelteKit, and new runtimes like Deno and Cloudflare
	Workers.
</p>
<p class="mb-5">
	Here is my <a href="Resume_Phong-Nguyen.pdf" class="cactus-link">resume</a>.
	Connect with me on <a
		href="https://linkedin.com/in/phongnn"
		class="cactus-link"
		target="_blank"
		rel="noopener noreferrer"
		>LinkedIn
	</a> or email phongnn@gmail.com.
</p>
