<p class="mb-5">
	For most of my career, I worked for <a
		href="https://www.fpt-software.com/about-fpt-software/"
		target="_blank"
		rel="noopener noreferrer"
		class="cactus-link"
		>FPT Software
	</a>, the biggest software company in Vietnam, and a global leader in software
	outsourcing. I learned a lot during my time there, from building software
	systems and managing teams to bidding for projects and dealing with clients.
	But I wasn't really happy because I wanted to work on the latest technologies
	and pursue technical excellence, which rarely happens with outsourced
	projects. That's why I left in May 2018. Since then, I've worked on my own
	projects mainly with React and Next.js on the frontend, and Node.js on the
	backend. In the future, I'd love to try modern frameworks like Remix,
	SvelteKit, and Qwik, as well as the latest runtimes like Deno and Cloudflare
	Workers.
</p>
<p class="mb-5">
	Here is my <a href="Resume_Phong-Nguyen.pdf" class="cactus-link">resume</a>.
	You can reach me on <a
		href="https://linkedin.com/in/phongnn"
		class="cactus-link"
		target="_blank"
		rel="noopener noreferrer"
		>LinkedIn
	</a> or by <a class="cactus-link" href="mailto:phongnn@gmail.com">email</a>.
</p>
