<p class="mb-4">
	Hello! I'm Phong, a software engineer with extensive experience building
	responsive, scalable, and maintainable software solutions. I'm proficient in
	JavaScript, TypeScript, Node.js and modern frameworks like React, Next.js,
	Remix...
</p>
