<p class="mb-4">
	Hello! I'm Phong, a software engineer from Vietnam who's passionate about
	software architecture and writing maintainable code. I've worked mainly with
	React, Next.js, Node.js, and TypeScript over the past five years.
</p>
