<p class="mb-4">
	I strive to keep my code simple and clear and strongly believe that TDD and
	refactoring are essential to achieving that goal. Here are some repositories
	that show how I code.
</p>
<ul class="space-y-4 sm:space-y-2">
	<li>
		<a
			href="https://phongnn.github.io/qwik-select"
			target="_blank"
			rel="noopener noreferrer"
			class="cactus-link py-2"
			>qwik-select
		</a>:
		<p class="inline-block italic sm:mt-2">
			A select/autocomplete component for Qwik apps.
		</p>
	</li>
</ul>
