<p class="mb-4">
	I always try to keep my code simple and clean. Check out these repositories to
	see how I do it:
</p>
<ul class="space-y-4 sm:space-y-2">
	<li>
		<a
			href="https://github.com/phongnn"
			target="_blank"
			rel="noopener noreferrer"
			class="inline-block cactus-link"
			>Lorem Ipsum
		</a>:
		<p class="inline-block sm:mt-2">Lorem ipsum dolor sit amet.</p>
	</li>
</ul>
